.login{
	.monitor{
		width: 200px;
		height:200px;
		margin:auto;
	}
	.photo{
		margin:auto;
		display: none;
	}
	.content{
		text-align: center;
		input{
  			height: 30px;
			line-height: 30px;
			outline: none;
			font-size: 18px;
		}
	}
	.bottom {
		text-align: center;
		button{
			display: inline-block;
			width: 30%;
			height: 30px;
		}
	}
}